.header {
    background-color: #131110;;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
  }
  .headerList{
    width:100%;
  }
  .hero-container{
    width: 100%;
  }
  .hero-wrapper{
    width:100%;
       
  }
  .headerContainer {
    width: 100%;
   
    margin: 0px 0px 1px 0px;
  }
  
  .headerContainer.listMode {
    margin: 20px 0px 0px 0px;
    width: 100%;
  }
  
  .headerList {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
    margin-left: 18rem;
  }
  
  .headerListItem {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .headerListItem.active {
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
  }
  
  .headerDesc {
    margin: 20px 0px;
  }
  
  .headerBtn {
    background-color: #285b80;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  .headerBtn:hover{
    background-color: darkorange;
  }
  
  .headerSearch {
    /* height: 30px;
    background-color: white;
    border: 3px solid #febb02; */
    /* display: flex;
    align-items: center;
    justify-content: space-around; */
    /* padding: 10px 0px;
    border-radius: 5px; */
    position: absolute;
    bottom: -25px;
    left: 18rem;
    width: 100%;
    max-width: 1000px;
  }
  
  .headerIcon {
    color: lightgray;
  }
  
  .headerSearchItem {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .headerSearchInput {
    border: none;
    outline: none;
  }
  
  .headerSearchText {
    color: lightgray;
    cursor: pointer;
  }
  
  .date {
    position: absolute;
    top: 50px;
    z-index: 2;
  }
  
  .options {
    z-index: 2;
    position: absolute;
    top: 50px;
    background-color: white;
    color: gray;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  }
  
  .optionItem {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
  
  .optionCounter {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
  }
  
  .optionCounterButton {
    width: 30px;
    height: 30px;
    border: 1px solid #0071c2;
    color: #0071c2;
    cursor: pointer;
    background-color: whitesmoke;
  }
  
  .optionCounterButton:disabled {
    cursor: not-allowed;
  }
  /* adding extra */

  .hero-wrapper{
    color:white;
    position:relative;
    padding-bottom: 2rem;
 

}

.hero-container{
    justify-content:space-between;
    align-items:flex-end;
}
/* left-side */

.hero-title{
    position:relative;
    z-index: 1;
    
}
.hero-title>h1{
    font-weight:600;
    font-size: 3.8rem;
    line-height: 4rem;
}
.orange-circle{
    height: 4rem;
    width: 4rem;
    background: var(--orange-gradient);
    border-radius: 999px;
    position:absolute;
    right:28%;
    top: -10%;
    z-index:-1;
}

.search-bar{
    background-color: white;
    border-radius:5px;
    border:3px solid rgba(120,120,120,0.374);
    padding: 0.5rem 1rem;
    justify-content:space-between;
   
}

.secons{
  max-width: 12.4rem;
}

.stats{
    width:100%;
    justify-content:space-between;
}
.stat{
    padding: 2px 4px;
}
.stat>:nth-child(1){
    font-size: 2rem;
}
.stat>:nth-child(1)>:last-child{
    color: orange;
}

/* right side */
.timg-container{
    width: 27rem ;
    height: 31rem;
    overflow: hidden;
    border-radius:15rem 15rem 0 0;
    border: 8px solid rgba(255,255,255,0.12);
}
.timg-container>img{
    width: 100%;
    height:100%;
}

@media (max-width: 640px){
    .hero-container{
        margin-top: 2rem;
    }
    .hero-title h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .img-container{
        width:95%;
        height: 25rem;
        .stats{
            justify-content: center;
            gap: 1.5rem;
        }
    }
}
  