.navbar{
    height: 50px;
    background-color:#131110;;
    display: flex;
    justify-content: center;
    margin-right: 0;
    width: 100%;
  }
  
  .navContainer{
    width: 100%;
    max-width: 1286px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo{
    font-weight: 600;
    color: #ecedf3;
  }
  
  .navButton{
    margin-left: 20px;
  
    padding: 10px 20px;
    cursor: pointer;
    
  }
  .navButton:hover{
    transform: scale(1.1);
  }